@page "/"

<div class="mainContent">
    <div class="container">
        <div class="col-md-12">
            <h1>Transform your BM battle report to a wiki friendly version</h1>
            <ul>
                <li>Step 1: Go to the battle report and 'right mouse click'</li>
                <li>Step 2: Click on 'View Page Source' (NOT 'inspect source', which is different)</li>
                <li>Step 3: Select all and copy paste it to the input field below</li>
                <li>Step 4: Click the button. Then a 'wall of text' will appear below it</li>
                <li>Step 5: Select the output text and copy/paste it into a wiki page (and marvel)</li>
            </ul>
        </div>
        <div class="paragraphSection col-sm-12">
            <label>Copy/paste your raw html of a battle report here:</label>
            <input @bind="ReportInput" />
            <button @onclick=@TransformReport>Transform to wiki friendly report</button>
        </div>
        <div class="col-sm-12">
            <label for="output">Wiki friendly output</label>
            <output>@ReportOutput</output>
        </div>
    </div>
</div>

