@inherits LayoutComponentBase
<div>
    <div class="top-menu">
        <NavLink href="scoutreport">Scout report</NavLink>
        <NavLink href="/">Battle report</NavLink>
    </div>
    <div>
        @Body
    </div>
</div>

